@page
@using Microsoft.AspNetCore.Authorization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using JS.Abp.DataPermission.Permissions
@using JS.Abp.DataPermission.Web.Pages.DataPermission.Demos
@using JS.Abp.DataPermission.Web.Menus
@using Microsoft.AspNetCore.Mvc.Localization
@using JS.Abp.DataPermission.Localization
@inject IHtmlLocalizer<DataPermissionResource> L
@inject IAuthorizationService Authorization
@model IndexModel
@inject IPageLayout PageLayout
@{
    PageLayout.Content.Title = L["Demos"].Value;
    PageLayout.Content.MenuItemName = DataPermissionMenus.Demos;
}

@section scripts
{
    <abp-script src="/Pages/DataPermission/Demos/index.js" />
}

@section content_toolbar {
    <abp-button id="ExportToExcelButton" text="@L["ExportToExcel"].Value" icon="download" size="Small" button-type="Primary" />
    @if (await Authorization.IsGrantedAsync(DataPermissionPermissions.Demos.Create))
    {
        <abp-button id="NewDemoButton" text="@L["NewDemo"].Value" icon="plus" size="Small" button-type="Primary" />
    }
}

<abp-card>
    <abp-card-body>
		<abp-row class="mb-3">
            <abp-column size-md="_12">
                <form id="SearchForm" autocomplete="off">
                    <div class="input-group">
                        <input class="form-control page-search-filter-text" id="FilterText" placeholder="@L["Search"]"/>
                        <abp-button button-type="Primary" type="submit" icon="search"/>
                    </div>
                </form>
            </abp-column>
            <abp-column size-md="_12" class="mt-3">
                <a href="javascript:;" id="AdvancedFilterSectionToggler" class="text-decoration-none">@L["SeeAdvancedFilters"]</a>
            </abp-column>
        </abp-row>

        <abp-row id="AdvancedFilterSection" style="display: none;">
            <abp-column size="_3">
                <abp-input asp-for="NameFilter" label="@L["Name"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-input asp-for="DisplayNameFilter" label="@L["DisplayName"].Value" />
            </abp-column>
        </abp-row>

        <abp-table striped-rows="true" id="DemosTable">
            <thead>
				<tr>
					<th>@L["Actions"]</th>
					<th>@L["Name"]</th>
					<th>@L["DisplayName"]</th>

				</tr>
            </thead>
        </abp-table>
    </abp-card-body>
</abp-card>